/* GENERAL */
* {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}
a {
    text-decoration: none;
    color: white;
}

/* HEADER */
.header {
    background-color: #1F2937;
    color: white;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 16px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 700;
}

ul {
    font-weight: 300;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 24px;
}

a:hover {
    font-weight: 600;
}

/* HERO TEXT */
.hero-text-container {
    position: relative;
    background-color: #1F2937;
    color: white;
    display: flex;
    height: 350px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.hero-text {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.subtext {
    color: #E5E7EB;
    font-size: 18px;
}

.sign-up {
    color: #F9FAF8;
    text-align: center;
    border: none;
    height: 35px;
    width: 120px;
    font-weight: 500;
    background-color: #3882F6;
    border-radius: 5px;
    font-size: 16px;
}

.sign-up:hover {
    font-weight: 900;
}

.hero-image {
    position: absolute;
    display: flex;
    width: auto;
    height: 280px;
    top: 25px;
    left: 900px;
}

.text {
    position: absolute;
    width: 500px;
    display: flex;
    flex-direction: column;
    top: 60px;
    left: 350px;
    gap: 8px;
}


/* INFORMATION SECTION */
.info {
    display: flex;
    height: 350px;
    justify-content: center;
    gap: 50px;
    font-weight: 380;
}

.info-header {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    text-align: center;
    padding: 32px;
}

.img1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 230px;
    width: 150px;
    gap: 12px;
    text-align: center;
    color: #696969;


}
.img2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 230px;
    width: 150px;
    gap: 12px;
    text-align: center;
    color: #696969;

}
.img3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 250px;
    width: 150px;
    gap: 12px;
    text-align: center;
    color: #696969;
}
.img4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 230px;
    width: 150px;
    gap: 12px;
    text-align: center;
    color: #696969;

}
.image {
    outline: 3px solid #3882F6;
    border-radius: 10px;
    height: 150px;
    width: 150px;
    color: #1F2937;
}